@model List<BooklyProjectAcunmedya.Entities.Book>

<div class="card mb-4">
    <div class="card-header">
        <i class="fas fa-table me-1"></i>
        Kitaplar
    </div>
    <div class="card-body">
        <table id="datatablesSimple">
            <thead>
                <tr>
                    <th>Kitap Kapağı</th>
                    <th>Yazarın Adı</th>
                    <th>Kitap Adı</th>
                    <th>Fiyat</th>
                    <th>Kategori</th>
                    <th>İndirim Durumu</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th>Kitap Kapağı</th>
                    <th>Yazarın Adı</th>
                    <th>Kitap Adı</th>
                    <th>Fiyat</th>
                    <th>Kategori</th>
                    <th>İndirim Durumu</th>
                </tr>
            </tfoot>
            <tbody>

                @foreach (var item in Model)
                {
                    <tr>
                        <td><img src="@item.CoverImageUrl" style="width:50px;height:50px"/></td>
                        <td>@item.Author.Name @item.Author.Surname</td>
                        <td>@item.BookName</td>
                        <td>@item.Price $</td>
                        <td>
                            @foreach (var category in item.BookCategories)
                            {
                                <span class="badge bg-info">@category.Category.CategoryName </span><br />
                            }
                        </td>
                        <td> <span class="badge bg-danger">@(item.IsOnSale ? "İndirimli" : "İndirim yok" )</span> </td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
</div>
