@model List<BooklyProjectAcunmedya.Entities.Book>

<section id="best-selling-items" class="position-relative padding-large ">
    <div class="container">
        <div class="section-title d-md-flex justify-content-between align-items-center mb-4">
            <h3 class="d-flex align-items-center">Son Çıkan Kitaplar</h3>
            <a href="#" class="btn">Tümünü Gör</a>
        </div>
        <div class="position-absolute top-50 end-0 pe-0 pe-xxl-5 me-0 me-xxl-5 swiper-next product-slider-button-next">
            <svg class="chevron-forward-circle d-flex justify-content-center align-items-center p-2" width="80" height="80">
                <use xlink:href="#alt-arrow-right-outline"></use>
            </svg>
        </div>
        <div class="position-absolute top-50 start-0 ps-0 ps-xxl-5 ms-0 ms-xxl-5 swiper-prev product-slider-button-prev">
            <svg class="chevron-back-circle d-flex justify-content-center align-items-center p-2" width="80" height="80">
                <use xlink:href="#alt-arrow-left-outline"></use>
            </svg>
        </div>
        <div class="swiper product-swiper">
            <div class="swiper-wrapper">

                @foreach (var item in Model)
                {
                    <div class="swiper-slide">
                    <div class="card position-relative p-4 border rounded-3">
                        <div class="position-absolute">
                            <p class="bg-primary py-1 px-3 fs-6 text-white rounded-2">@(item.IsOnSale?
                    item.DiscountRate.ToString() + " % İndirim" : string.Empty)</p>
                        </div>
                        <img src="@item.CoverImageUrl" class="img-fluid shadow-sm" alt="product item">
                        <h6 class="mt-4 mb-0 fw-bold"><a href="index.html">@item.BookName</a></h6>
                        <div class="review-content d-flex">
                            <p class="my-2 me-2 fs-6 text-black-50">@item.Author.Name @item.Author.Surname</p>

                            <div class="rating text-warning d-flex align-items-center">

                                @if (item.Review == 1)
                                {
                                    <svg class="star star-fill">
                                        <use xlink:href="#star-fill"></use>
                                    </svg>
                                }
                                @if (item.Review == 2)
                                {
                                    <svg class="star star-fill">
                                        <use xlink:href="#star-fill"></use>
                                    </svg>
                                    <svg class="star star-fill">
                                        <use xlink:href="#star-fill"></use>
                                    </svg>
                                }
                                @if (item.Review == 3)
                                {
                                    <svg class="star star-fill">
                                        <use xlink:href="#star-fill"></use>
                                    </svg>
                                    <svg class="star star-fill">
                                        <use xlink:href="#star-fill"></use>
                                    </svg>
                                    <svg class="star star-fill">
                                        <use xlink:href="#star-fill"></use>
                                    </svg>
                                }
                                @if (item.Review == 4)
                                {
                                    <svg class="star star-fill">
                                        <use xlink:href="#star-fill"></use>
                                    </svg>
                                    <svg class="star star-fill">
                                        <use xlink:href="#star-fill"></use>
                                    </svg>
                                    <svg class="star star-fill">
                                        <use xlink:href="#star-fill"></use>
                                    </svg>
                                    <svg class="star star-fill">
                                        <use xlink:href="#star-fill"></use>
                                    </svg>
                                }
                                @if (item.Review == 5)
                                {
                                    <svg class="star star-fill">
                                        <use xlink:href="#star-fill"></use>
                                    </svg>
                                    <svg class="star star-fill">
                                        <use xlink:href="#star-fill"></use>
                                    </svg>
                                    <svg class="star star-fill">
                                        <use xlink:href="#star-fill"></use>
                                    </svg>
                                    <svg class="star star-fill">
                                        <use xlink:href="#star-fill"></use>
                                    </svg>
                                    <svg class="star star-fill">
                                        <use xlink:href="#star-fill"></use>
                                    </svg>
                                }
                                else
                                {

                                }
                            </div>
                        </div>
                        <span class="price text-primary fw-bold mb-2 fs-5">@(item.IsOnSale? item.Price * (100 - item.DiscountRate) / 100 : item.Price) </span>
                        <div class="card-concern position-absolute start-0 end-0 d-flex gap-2">
                            
                        </div>
                    </div>
                </div>
                }


            </div>
        </div>
    </div>
</section>
