﻿﻿@model List<BooklyProjectAcunmedya.Entities.Book>

<div class="col-md-6 mb-4 mb-lg-0 col-lg-3" style="border:2px solid black">
    <div class="best-reviewed border rounded-3 p-4">
        <div class="section-title overflow-hidden mb-5 mt-2">
            <br />
            <h3 class="d-flex flex-column mb-0">Öne Çıkanlar</h3>
            <br />

        </div>
        <div class="items-lists">

            @foreach (var item in Model)
            {
                <div class="item d-flex">
                    <img src="@item.CoverImageUrl" class="img-fluid shadow-sm" alt="@item.BookName">
                    <div class="item-content ms-3">
                        <h6 class="mb-0 fw-bold">
                            <a href="index.html">@item.BookName</a>
                        </h6>

                        <div class="review-content d-flex">
                            <p class="my-2 me-2 fs-6 text-black-50">@item.Author.Name</p>
                            <div class="rating text-warning d-flex align-items-center">

                                @for (int i = 0; i < item.Review; i++)
                                {
                                    <svg class="star star-fill">
                                        <use xlink:href="#star-fill"></use>
                                    </svg>
                                }
                            </div>
                        </div>

                        <span class="price text-primary fw-bold mb-2 fs-5">
                            @if (item.IsOnSale)
                            {
                                var lastPrice = item.Price - ((item.Price) * (item.DiscountRate) / 100);
                                <del class="text-danger">@item.Price.ToString("0.00") ₺</del>
                                <br />
                                <strong>@lastPrice.ToString("0.00") ₺</strong>
                            }
                            else
                            {
                                <strong>@item.Price.ToString("0.00") ₺</strong>
                            }
                        </span>

                    </div>
                </div>
                <hr class="gray-400">
            }
        </div>
    </div>
</div>
